result
/secrets/*
!/secrets/*.age
!/secrets/**/
/secrets/*/*
!/secrets/**/
!/secrets/**/*.age
/secrets/*/*/*
!/secrets/**/**/
!/secrets/**/**/*.age
/.direnv
/.home
/.cache
.DS_Store
/.zsh*
/.zcompdump
