result
/secrets/*
!/secrets/**/
!/secrets/*.age
!/secrets/*.crt
/secrets/*/*
!/secrets/**/
!/secrets/**/*.age
!/secrets/**/*.crt
/secrets/*/*/*
!/secrets/**/**/
!/secrets/**/**/*.age
!/secrets/**/**/*.crt
/.direnv
/.home
/.cache
.DS_Store
/.zsh*
/.zcompdump
