;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{:aliases
   {;; Project
    :new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.293"}}
          :exec-fn    clj-new/create
          :exec-args  {:template "app"}}

    ;; Linting
    :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                          :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts ["-m" "clj-check.check"]}

    ;; Cljfmt
    :fmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
          :main-opts ["-m" "cljfmt.main"]}

    ;; JAR
    :depstar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
              :ns-default hf.depstar
              :exec-args {}}


    ;; REPL
    :repl/rebel-nrepl {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                                    cider/cider-nrepl          {:mvn/version "0.25.10"}
                                    com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                       :main-opts  ["-m" "nrepl.cmdline"
                                    "--middleware" "[cider.nrepl/cider-middleware]"
                                    "-i"
                                    "-f" "rebel-readline.main/-main"]}

    :repl/nrepl {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                              cider/cider-nrepl          {:mvn/version "0.25.10"}}
                  :main-opts  ["-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"
                               "-i"]}

    :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts ["-m" "rebel-readline.main"]}

    ;; Testing
    :runner {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
             :main-opts  ["-m " "kaocha.runner"]}

    ;; Dependencies
    :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "0.12.4"}}
               :main-opts ["-m" "antq.core"]}

    ;; Graph
    :graph {:replace-deps {org.clojure/tools.deps.graph {:mvn/version "1.0.56"}}
            :main-opts    ["-m" "clojure.tools.deps.graph"] ;; deprecated
            :ns-default   clojure.tools.deps.graph}

    :morpheus {:extra-deps {thomasa/morpheus {:git/url "https://github.com/benedekfazekas/morpheus.git"
                                              :sha "7f4876ea631a6f5ccee2094d255efd2d1a98ffb6"}}
               :main-opts  ["-m" "thomasa.morpheus.main"]}}}

  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies

  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.10.2"}
  ;; }

  ;; Aliases
  ;;   resolve-deps aliases (-R) affect dependency resolution, options:
  ;;     :extra-deps - specifies extra deps to add to :deps
  ;;     :override-deps - specifies a coordinate to use instead of that in :deps
  ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
  ;;   make-classpath aliases (-C) affect the classpath generation, options:
  ;;     :extra-paths - vector of additional paths to add to the classpath
  ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

  ;; :aliases {
  ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.9.863"}}}
  ;;   :test {:extra-paths ["test"]}
  ;; }

  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }

